@font-face {
    font-family: 'Nightside Demo';
    src: url('NightsideDemoRegular.woff2') format('woff2'),
        url('NightsideDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nightside Demo';
    src: url('NightsideDemoRegular.woff2') format('woff2'),
        url('NightsideDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nightside Demo';
    src: url('NightsideDemoRegular.woff2') format('woff2'),
        url('NightsideDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

